{{#if message includeZero=true}}
    <div class="message {{#if message.isSelf}} self {{/if}}">
        <div class="message-content-text" {{#if message.image}} style="display: none" {{/if}}>{{ message.text }}</div>
        {{#if message.image}} <img src="/alphaDate/{{ message.image }}" class="message-image"> {{/if}}
        <div class="sent-date">{{ message.date }}</div>
    </div>
{{else}}
    <div class="message {{#if this.isSelf}} self {{/if}}">
        <div class="message-content-text" {{#if this.image}} style="display: none" {{/if}}>{{ this.text }}</div>
        {{#if this.image}} <img src="/alphaDate/{{ this.image }}" class="message-image"> {{/if}}
        <div class="sent-date">{{ this.date }}</div>
    </div>
{{/if}}