<div id="new-post-input-card" class="card">
    <form id="post-upload-form">
        <div id="main-right-sidebar-profile-card-visual-post-input">
            <div id="main-right-sidebar-profile-card-pp">
                <a href="/profile/">
                    <img src="{{ user_pic }}" class="new-post-pic">
                    <img src="/img/anonymous.png" class="new-post-pic anonymous">
                </a>
            </div>

            <div id="main-right-sidebar-profile-card-textuals">
                <a href="/profile/">
                    <div class="fullname regular">{{ fullname }}</div>
                    <div class="nickname">{{ nickname }}</div>
                </a>

                <div class="fullname anonymous" contenteditable="plaintext-only">אנונימי</div>
            </div>

            <div id="new-post-anonymous"></div>
            <input type="checkbox" id="new-post-is-anonymous">
        </div>

        <textarea placeholder="{{share_with_your_followers_text}}" id="new-post-input-card-content"></textarea>
        <div id="new-post-pic-wrap">
            
        </div>

        <div id="new-post-bottom">
            <div id="new-post-additionals">
                <div class="new-post-additional" id="new-post-pic-trigger"><i class="fas fa-camera"></i></div>
                <input type="file" id="new-post-pic-input" accept="image/x-png,,image/jpeg">
            </div>

            <div id="new-post-submition-wrap" class="mr-auto">
                <input type="submit" value="{{post_now_text}}">
            </div>
        </div>
    </form>
</div>