<div class="card post-card {{ self }}" data-id="{{ postid }}">
    <div class="user-dets">
        <div class="post-card-pp">
            <a href="/AlphaDate/profile/{{ userid }}"><img src="{{ user_pic }}" class="{{ anonymous }}"></a>
        </div>

        <div class="post-card-textuals">
            <a href="/AlphaDate/profile/{{ userid }}">
                <div class="fullname">{{ fullname }}</div>
                <div class="time">{{ time }}</div>
            </a>
        </div>

        <div class="post-edit-actions-toggle" onclick="toggle_post_options({{ postid }})">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="post-edit-menu">
            <li class="post-edit" onclick="edit_post({{ postid }})" data-id="{{ postid }}">
                <div class="icon"><i class="fas fa-pencil-alt"></i></div>
                <div class="text">עריכה</div>
            </li>

            <li class="post-delete" onclick="delete_post({{ postid }})" data-id="{{ postid }}">
                <div class="icon"><i class="fas fa-trash-alt"></i></div>
                <div class="text">מחיקה</div>
            </li>
        </ul>
    </div>

    <div class="post-content">
        <div class="text" placeholder="שתף את העוקבים שלך...">{{#safe text }}{{/safe}}</div>

        <div class="pic">
            <img src="{{ image }}" class="{{ isPic }}">
        </div>

        <a class="post-update-text-btn cute-btn" onclick="update_post({{ postid }})">עדכון</a>
    </div>

    <div class="post-actions">
        <div class="post-action heart {{#if hearted}}clicked{{/if}}" onclick="heart($(this))" data-postid="{{ postid }}"><i class="fas fa-heart"></i> <span class="num">{{ num_hearts }}</span></div>
        <div class="post-action comment" data-postid="{{ postid }}"><i class="fa fa-comment-alt"></i> <span class="num">{{ num_comments }}</span></div>
    </div>

    <div class="post-comments-section">
        <div class="new-comment-wrap">
            <div class="user-image">
                <img src="{{ user_pic }}">
            </div>
        
            <form class="new-comment-input">
                <div contenteditable="plaintext-only" placeholder="כתוב תגובה..." class="comment-text-input" data-postid="{{ postid }}"></div>
                
                <input type="file" class="comment-additional-image">
                <div class="trigger-comment-additional-image">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
            </form>
        </div>

        <div class="post-comments-wrap"></div>
    </div>
</div>